body {
    background: rgb(54, 54, 54);
    font-family: 'Montserrat', sans-serif;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    min-height: calc(100vh - 150px);
}
.column-left {
    flex: 2;
    background: #000;
    color: rgb(199, 199, 199);
    border-right: 2px solid rgb(199, 199, 199);
    border-left: 2px solid rgb(199, 199, 199);

}
.column-right {
    flex: 4;
}
.header {
    padding-top: 50px;
    text-align: center;
}
.photo-img {
    border-radius: 150px;
    border: 3px solid rgb(199, 199, 199);
}
h1 {
    padding: 40px 0 20px 0;
    font-size: 35px;
    font-weight: 500;
}
h3 {
    font-size: 18px;
    font-weight: 500;
}
.menu {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    font-size: 20px;
    text-align: center;
    align-items: center;
    gap: 25px;
    font-weight: 500;
}
.menu-link {
    display: block;
    width: 130px;
    padding: 10px 10px;
    background: rgb(199, 199, 199);
    color: #000;
    border-radius: 5px;
    font-weight: 700;
}
.menu-link:hover {
    background: aqua;
    transition: 0.3s;
}
.contact {
    text-align: center;
}
h2 {
    font-size: 28px;
    font-weight: 500;
    padding: 20px 0 20px 0;
}
.contact-list {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    font-size: 18px;
}
.contact-link {
    display: flex;
    padding: 5px;
    background: #000;
    align-items: center;
}
.icon {
    width: 35px;
    height: 35px;
    fill: #fff;
    padding-right: 10px;
}
.contact-item:hover {
    color: aqua;
    transition: 0.3s;
}
.contact-small {
    display: none;
}
.footer {
    height: 150px;
    background: #000;
    max-width: 1440px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    border: 2px solid rgb(199, 199, 199);
    border-bottom: 0px;
}
.footer-block {
    border-radius: 5px;
    background: rgb(199, 199, 199);
    padding: 10px 10px;
}
a.footer-block:hover {
    background: aqua;    
    transition: 0.3s;
}
.rs {
    display: flex;
    height: 70px;
}
.gh {
    display: flex;
    height: 70px;
}
.year {
    display: flex;
    font-size: 20px;
    font-weight: 700;
    height: 70px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}
/* ****************   MAIN   ****************** */

.block {
    border-radius: 5px;
    border: 2px solid aqua;
    height: calc(100% - 200px);
    margin: 100px;
    padding: 50px;
    background: #000;
    color: rgb(199, 199, 199);
    display: none;
}
.block h2 {
    margin-left: 20px;
}
p {
    font-size: 20px;
    line-height: 35px;
}
.skills ul {
    padding-top: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 20px;
}
.skills li {
    display: flex;
}
.icon-ok {
    margin-right: 15px;
    width: 20px;
    height: 20px;
    fill: aqua;
}
pre {
    margin: 10px 0;
    padding: 10px;
    display: block;
    background: rgb(199, 199, 199);
    color: #000;
    border-radius: 5px;
}

.btn-block {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}
.btn-block button {
    font-size: 13px;
    font-weight: 700;
}
.block-prod {
    margin: 0 auto;
    width: 90%;
    border: 2px solid aqua;
    border-radius: 5px;
    display: none;
    overflow: hidden;
    height: 500px;
}

/* **************   SLIDER   *************** */

.slider {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    gap: 10px;
}
.slide {
    display: flex;
    flex: 1;
    position: relative;
    cursor: pointer;
    transition: 0.4s ease-in;
    height: 450px;
}
.slide h3 {
    color: rgb(199, 199, 199);
    background: rgb(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: normal;
    position: absolute;
    bottom: 10px;
    left: 30px;
    opacity: 0;
}
.slide img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.slide.active-slide {
    flex: 20;
}
.slide.active-slide h3 {
    opacity: 1;
    transition: opacity 0.2s 0.5s;
}

/* ***************   BOARD   *************** */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    flex-wrap: wrap;
    height: 500px;
}
.square {
    width: 16px;
    height: 16px;
    background: #000;
    margin: 2px;
    box-shadow: 0 0 2px #000;
    transition: 3s ease;
}
.square:hover {
    transition-duration: 0s;
}

/* ***************   OTHER  ****************** */

.other {
    padding: 20px;
}
.other-link {
    font-size: 18px;
}
.other-link:hover {
    color: aqua;
    transition: 0.3s;
}

/* ***********   ACTIVE   ********** */

.active {
    display: block;
}
.active-btn {
    background: aqua;
}

/* ***********   MEDIA   *********************** */

@media (max-width: 1130px) {
    .wrapper {
        max-width: 1130px;
    }
    .menu-slide, .menu-board, .menu-other {
        width: 80px;
    }
    .block {
        margin: 50px;
        padding: 20px;
    }
}
@media (max-width: 960px) {
    .wrapper {
        max-width: 960px;
    }
    .photo-img {
        width: 200px;
    }
    .contact-list {
        gap: 5px;
        font-size: 14px;
    }
    .column-left {
        flex: 1;    
    }
    .column-right {
        flex: 3;
    }
    .block {
        margin: 30px;
        padding: 10px;
    }
}
@media (max-width: 770px) {
    .wrapper {
        display: flex;
        flex-direction: column;
    }
    .menu {
        gap: 0;
        padding: 30px 20px;
        flex-direction: row;
        justify-content: space-around;
        border-bottom: 2px solid rgb(199, 199, 199);
    }
    .menu-link {
        width: 100px;
    }
    .contact {
        display: none;
    }
    .contact-small {
        border: 2px solid rgb(199, 199, 199);
        border-bottom: 0px;
        text-align: center;
        display: block;
        background: #000;
        color: rgb(199, 199, 199);
    }
    .contact-list {
        padding: 10px 0 20px 0;
        gap: 5px;
        align-items: center;
        font-size: 18px;
    }
    .contact-link {
        display: flex;
        padding: 5px;
        background: #000;
        align-items: center;
    }
    .footer {
        height: 100px;
        border-top: 0px;
    }
    .block {
        height: 700px;
        margin: 20px 0;
        padding: 20px;
    }
}
@media (max-width: 540px) {
    .block {
        height: 500px;
    }
    .container {
        height: 300px;
    }
    .block-prod {
        height: 300px;
    }
    .slider {
        height: 300px;
    }
    .slide {
        height: 250px;
    }
    .rs {
        height: 50px;
    }
    .gh {
        height: 50px;
    }
    .year {
        height: 50px;
    }
    .menu-link {
        font-size: 14px;
        font-weight: 700;
        width: 85px;
        padding: 10px 5px;
    }
}